<!DOCTYPE html>
<html>
  <head>
    <title>Google Calendar</title>

    <%= include_gon(:init => true) if defined? gon && gon.present? %>
    
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= yield %>
  </body>
</html>
